<div class="search-area">
  <div class="container">
    <h2>Search Heroes</h2>
    <p>Filter the heroes by name or origin</p>
    <app-search placeholder="Enter a hero's name or origin"
                (searchValueChanged)="filterHeroes($event)"
                (searchReset)="resetSearch()">
    </app-search>
  </div>
</div>
<div class="container content">
  <h3>Heroes</h3>
  <div *ngIf="filteredHeroes && filteredHeroes.length > 0">
    <p>Amount: {{filteredHeroes.length}}</p>
    <div class="row row_header">
      <div class="col-md-2 col-xs-3"></div>
      <div class="col-md-10 col-xs-9">
        <div class="col-md-2">Name</div>
        <div class="col-md-2">Origin</div>
        <div class="col-md-1">Age</div>
        <div class="col-md-3">Superpowers</div>
        <div class="col-md-3">Weaknesses</div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <app-hero-row-view *ngFor="let hero of filteredHeroes"
      [hero]="hero"
      (changeFavouriteClicked)="changeFavourite($event)"
    ></app-hero-row-view>
    <div class="load-more" *ngIf="!all_loaded">
      <button class="btn btn-primary" (click)="nextPage()">Load more...</button>
    </div>
  </div>
  <div *ngIf="filteredHeroes && filteredHeroes.length == 0">
    There are no heroes that match your search.
  </div>
  <div class="favourites" *ngIf="favouriteHeroes && favouriteHeroes.length > 0">
    <h3>Favourites list</h3>
      <app-hero-row-view *ngFor="let hero of favouriteHeroes"
        [hero]="hero"
        (changeFavouriteClicked)="changeFavourite($event)"
      ></app-hero-row-view>
  </div>
</div>