@import "../app.variables.scss";

.search-area {
  background-color: $color_bg;
  padding: 2rem 0 3rem;
  border-top: 1px solid #e8ebeb;
  border-bottom: 1px solid #e8ebeb;
  text-align: center;

  h2 {
    font-size: 2.5rem;
  }
}
.row {
  border-bottom: 1px solid #e8ebeb;
  margin: 0;
  padding: 0.5rem 0;
}
.row_header {
  color: $color_brand;
  background-color: $color_bg;
}
.col-img {
  text-align: center;
}
.col-img img {
  width: 100%;
  max-width: 100px;
}

@media (max-width: 767px) {
  .row_header {
    display: none;
  }
}
@media (min-width: 768px) {
  [class^="col-"] {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .col-md-2 {
    width: 15.8%;
  }
}
