@import "./app/app.variables.scss";

@font-face{
  font-family: interface_corpregular;
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/if_corp_rg.eot");
  src: url("./assets/fonts/if_corp_rg.eot?#iefix") format("embedded-opentype"),
       url("./assets/fonts/if_corp_rg.woff") format("woff"),
       url("./assets/fonts/if_corp_rg.ttf") format("truetype");
}
@font-face{
  font-family: interface_corpregular;
  font-weight: 700;
  font-style:normal;
  src: url("./assets/fonts/if_corp_bd.eot");
  src: url("./assets/fonts/if_corp_bd.eot?#iefix") format("embedded-opentype"),
       url("./assets/fonts/if_corp_bd.woff") format("woff"),
       url("./assets/fonts/if_corp_bd.ttf") format("truetype");
}

html,
body {
  font-family: interface_corpregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $color_main;
  padding: 0;
  margin: 0;
}
header,
footer,
.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h1,
h2 {
  color: $color_main;
  font-weight: 700;
}
h3 {
  color: $color_brand;
}

a,
a:visited {
    color: $color_brand;
}

@media (max-width: 499px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 500px) and (max-width: 999px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1000px) and (max-width: 1999px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 18px;
  }
}